<main>
    {{> navbar}}

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-4">
                <form class="container-card" action="/authentication" method="POST" id="mfa-form">
                    <h2 class="container-subtitle text">Verificación de dos factores</h2>
                    <div class="input-group my-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-mobile-alt"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Código de verificación" name="codigo_mfa" aria-label="MFA Code" required>
                    </div>
                    <div id="inputHelp" class="form-text text-center my-3">Se ha enviado un código de verificación a tu correo electrónico. Por favor, ingrésalo aquí.</div>
                    <input type="submit" class="btn btn-secondary light w-100" value="Verificar">
                </form>
            </div>
        </div>
    </div>


</main>
