<main>
    {{> navbar}}

    <div class="container">
        <form class="container-form" action="/mfa" method="POST" id="mfa-form">
            <h2 class="container-subtitle text-light">Verificación de dos factores</h2>
            <div class="input-group my-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-mobile-alt"></i>
                </span>
                <input type="text" class="form-control" placeholder="Código de verificación" name="codigo_mfa" aria-label="MFA Code" required>
            </div>
            <input type="submit" class="btn btn-light w-100" value="Verificar">
        </form>
    </div>
</main>
