<main>
    {{> navbar_logged}}

    {{> error_message}}
    
    <div class="container" id="dashboard">
        <div class="row">
            <div class="col-12 mx-auto mt-4">
                <div class="container-card">
                    <div class="row">
                        <div class="col-6">
                            <canvas id="doughnut" class="dashboard-item w-100"></canvas>
                        </div>
                        <div class="col-6">
                            <canvas id="bar" class="dashboard-item w-100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>