<main>
    {{> navbar}}

    <div class="container">
        <form class="container-form" action="">
            <h2 class="container-subtitle">Ingrese los datos solicitados</h2>
            <div class="input-group my-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username">
            </div>
            <div class="input-group my-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password">
            </div>
            <input type="submit" class="btn btn-light w-100" value="Aceptar">
        </form>
    </div>

</main>