<main>
    {{> navbar}}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="container-title container-center">Bienvenido al Sistema de Análisis de Clientes Bancarios</h1>
            </div>
            <div class="col-12">
                <p class="container-text lh-lg">En esta plataforma, podrás monitorear y gestionar eficazmente el comportamiento de los clientes, analizar las tendencias de satisfacción y diseñar estrategias de retención para mejorar la lealtad. Accede a las herramientas necesarias para optimizar la experiencia de tus clientes y prevenir el churn.</p>
            </div>
            <div class="col-12 text-center">
                <a href="/login" class="btn btn-secondary mt-3">Comenzar Ahora</a>
            </div>
        </div>
    </div>

</main>
