<main>
    {{> navbar}}
    {{> error_message}}
    {{> success_message}}

    <section class="container container-center">
        <div class="row">
            <!-- Título del Sistema -->
            <div class="col-12">
                <h1 class="container-title text-uppercase text-center">Bienvenido al Sistema de Análisis de Clientes Bancarios</h1>
            </div>

            <!-- Descripción del Sistema -->
            <div class="col-12">
                <p class="container-text text-center lh-lg">
                    En esta plataforma, podrás monitorear y gestionar eficazmente el comportamiento de los clientes, analizar las tendencias de satisfacción y diseñar estrategias de retención para mejorar la lealtad. Accede a las herramientas necesarias para optimizar la experiencia de tus clientes y prevenir el churn.
                </p>
            </div>

            <!-- Botón para Iniciar Sesión -->
            <div class="col-12 text-center">
                <a href="/login" class="btn btn-primary mt-3 mx-auto">Comenzar Ahora</a>
            </div>
        </div>
    </section>
</main>
