<main>
    {{> navbar}}

    <div class="container">
        <h1 class="container-title container-title-center">Bienvenido al Sistema de Gestión de Productos Amazon</h1>
        <p class="container-text">Aquí podrás administrar de manera eficiente los productos vendidos en Amazon, supervisar el inventario y gestionar los detalles esenciales de cada artículo. Accede a todas las herramientas que necesitas para mantener la operativa de ventas en óptimas condiciones.</p>
        <a href="/login" class="button btn-one text-light mt-3">Comenzar Ahora</a>
    </div>

</main>