<main>

    {{> navbar}}

    <section class="container mt-4">
        <div class="row">
            <div class="col-10 mx-auto mb-3">
                <div class="container-card px-5">
                    <h2 class="container-title text-center text-uppercase my-4">Política de Privacidad </h2>
                    
                    <p class="container-mini-text my-2 text-center lh-lg">
                        En nuestra empresa, valoramos tu
                        privacidad. Al registrarte en nuestra plataforma,
                        recopilamos información personal, como tu nombre, apellido,
                        correo electrónico y clave de acceso, solo con el propósito
                        de autenticación en nuestros sistemas. 
                    </p>
                    
                    <h2 class="container-subtitle text-center text-uppercase my-4">¿Qué datos recopilamos? </h2>
                    
                    <ol class="d-flex justify-content-center align-items-center flex-column">
                        <li class="container-mini-text my-2 text-center">Nombre completo </li>
                        <li class="container-mini-text my-2 text-center">Correo electrónico </li>
                        <li class="container-mini-text my-2 text-center">Clave de acceso </li>
                        <li class="container-mini-text my-2 text-center">Usuario asignado </li>
                    </ol>
                    
                    <h2 class="container-subtitle text-center text-uppercase my-4">¿Para qué utilizamos tus datos?</h2> 
                    
                    <p class="container-mini-text my-2 text-center lh-lg">Tus datos se utilizan exclusivamente para: </p>
                    
                    <ul class="d-flex justify-content-center align-items-center flex-column">
                        <li class="container-mini-text my-2 text-center">Verificar tu identidad y permitir el acceso seguro a nuestro sistema. </li>
                    </ul>
                    
                    <p class="container-mini-text my-2 text-center lh-lg">
                        Es importante mencionar que, aunque tu cuenta ha sido
                        registrada, necesitarás solicitar acceso a un administrador
                        desde el apartado de Contacto en la página principal de la
                        plataforma. Solo después de recibir los permisos, tendrás
                        acceso completo a las funcionalidades. 
                    </p>
                    
                    <h2 class="container-subtitle text-center text-uppercase my-4">Derechos del usuario</h2>
                    
                    <p class="container-mini-text my-2 text-center lh-lg">
                        Tienes derecho a solicitar la eliminación de tu cuenta y
                        todos los datos asociados. Si en algún momento decides no
                        seguir trabajando con nosotros, puedes eliminar tu cuenta a
                        través de: 
                    </p>
                    
                    <ul class="d-flex justify-content-center align-items-center flex-column">
                        <li class="container-mini-text my-2 text-center">El enlace proporcionado en el correo de notificación. </li>
                        <li class="container-mini-text my-2 text-center">La sección de perfil en la plataforma una vez que inicies sesión. </li>
                    </ul>

                    <h2 class="container-subtitle text-center text-uppercase my-4">Cambios en la política de privacidad</h2>
                    
                    <p class="container-mini-text my-2 text-center lh-lg">
                        Cualquier cambio en estas políticas será notificado a través
                        de un correo electrónico por parte del área de soporte.  
                        Si tienes preguntas sobre nuestra política de privacidad o
                        deseas ejercer tus derechos, contáctanos en 
                        soporte@gmail.com.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>