<main>
    {{> navbar}}

    <div class="container">
        <form class="container-form" action="/register" method="POST" id="register">
            <h2 class="container-subtitle text-light">Ingrese los datos solicitados</h2>
            <div class="input-group my-3">
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" aria-label="Nombre">
            </div>
            <div class="input-group my-3">
                <input type="text" class="form-control" placeholder="Apellido" name="apellido" aria-label="Apellido">
            </div>
            <div class="input-group my-3">
                <input type="email" class="form-control" placeholder="Correo electrónico" name="email" aria-label="Correo electrónico">
            </div>
            <div id="inputHelp" class="form-text text-light">El usuario y la clave deben tener al menos 8 caracteres y solo pueden contener letras y números.</div>
            <div class="input-group my-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-user"></i>
                </span>
                <input type="text" class="form-control" placeholder="Username" name="usuario" aria-label="Username">
            </div>
            <div class="input-group my-3">
                <span class="input-group-text">
                    <i class="fa-solid fa-lock"></i>
                </span>
                <input type="password" class="form-control" placeholder="Password" name="clave" aria-label="Password">
            </div>
            <input type="submit" class="btn btn-light w-100" value="Aceptar">
        </form>
    </div>

</main>