@font-face { font-family: telsa; src: url("./../font/Gotham\ Book.otf"); }
@font-face { font-family: telsaBold; src: url("./../font/Gotham\ Bold.otf"); } 

html {
    font-size: 18px;
}

body {
    background-image: url("/img/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    height: 100%;
}

.container-row{
    flex-direction: row;
    flex-wrap: wrap;
}

.container-title {
    text-transform: uppercase;
    font-family: telsaBold;
    font-size: 1.5rem;
    text-align: center;
}

.container-title-center {
    margin-top: 100px;
}

.container-subtitle{
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    font-family: telsaBold;
    margin: 20px 15px;
}

.container-text {
    font-family: telsa;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.logo {
    height: 55px;
    width: 55px;
    margin: auto 30px;
    border-radius: 100%;
    border: 2px solid #000000;
}

.container-card {
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
}

.navbar-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
    text-align: center;
    font-family: telsa;
    font-size: 1rem;
    color: #f3f3f3;
}

.nav-link:hover{
    color: white;
    border-bottom: 1px solid white;
    transition: all 0.3s;
}

.alert{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

@media screen and (max-width: 992px) {
    html {
      font-size: 15px;
    }

    .nav-link{
        width: max-content;
        margin: 10px auto;
    }
}