<html>
    <head>
        <title>C贸digo de verificaci贸n para tu cuenta</title>
    </head>
    <body>
        <p>Hola,</p>

        <p>Hemos recibido una solicitud para acceder a tu cuenta. Para
            continuar, por favor introduce el siguiente c贸digo de verificaci贸n:</p>

        <h2 style="color: #333; text-align: center;"> C贸digo de verificaci贸n:
            {{token}}</h2>

        <p>Si no solicitaste este c贸digo, por favor ignora este mensaje.</p>

        <p>Gracias por confiar en nosotros.</p>

        <p>Saludos,<br />El equipo de Proyecto tica y Seguridad</p>
    </body>
</html>