<html>
    <head>
        <title>Notificación sobre el uso de tus datos y acceso a la plataforma</title>
    </head>
    <body>
        <p>Hola,</p>

        <p>Tu cuenta ha sido registrada en nuestra plataforma interna. Sin
            embargo, aún no tienes acceso completo hasta que un administrador te
            otorgue los permisos necesarios. Mientras tanto, podrás iniciar
            sesión, pero no podrás acceder a las funcionalidades del sistema.</p>

        <p>Si deseas solicitar acceso, por favor utiliza el apartado de
            <strong>Contacto</strong>
            en la página principal de la plataforma para comunicarte con un
            administrador.</p>

        <p>Aquí están tus credenciales de inicio de sesión:</p>
        <ul>
            <li><strong>Usuario</strong>: {{username}}</li>
            <li><strong>Clave</strong>: {{password}}</li>
        </ul>

        <p>Te recomendamos que, una vez que te hayan otorgado acceso, accedas a
            tu perfil y
            <strong>cambies tanto tu usuario como tu contraseña</strong>
            por razones de seguridad.</p>

        <p>Si prefieres eliminar tu cuenta y todos tus datos asociados, puedes
            hacerlo a través de los siguientes medios:</p>
        <ol>
            <li><a href="{{deleteAccountLink}}">Enlace de eliminación</a></li>
            <li>O desde la
                <strong>sección de perfil</strong>
                cuando hayas iniciado sesión.</li>
        </ol>

        <p>Puedes revisar nuestra
            <a href="{{privacyPolicyLink}}">Política de privacidad</a>.</p>

        <p>Si tienes alguna duda, no dudes en contactarnos.</p>

        <p>Saludos cordiales,<br />Proyecto de Ética y Seguridad</p>
    </body>
</html>